<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="bpf-shipment-heading" jhiTranslate="bpfJfs2019App.shipment.home.createOrEditLabel">Create or edit a Shipment</h2>
            <div>
                <bpf-alert-error></bpf-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bpfJfs2019App.shipment.shippedAt" for="field_shippedAt">Shipped At</label>
                    <div class="input-group">
                        <input id="field_shippedAt" type="text" class="form-control" name="shippedAt" ngbDatepicker  #shippedAtDp="ngbDatepicker" formControlName="shippedAt"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="shippedAtDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('shippedAt').invalid && (editForm.get('shippedAt').dirty || editForm.get('shippedAt').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('shippedAt').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bpfJfs2019App.shipment.order" for="field_order">Order</label>
                    <select class="form-control" id="field_order" name="order" formControlName="orderId">
                        <option *ngIf="!editForm.get('orderId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="shoppingOrderOption.id" *ngFor="let shoppingOrderOption of orders; trackBy: trackShoppingOrderById">{{shoppingOrderOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('orderId').invalid && (editForm.get('orderId').dirty || editForm.get('orderId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('orderId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bpfJfs2019App.shipment.shippedBy" for="field_shippedBy">Shipped By</label>
                    <select class="form-control" id="field_shippedBy" name="shippedBy" formControlName="shippedById">
                        <option *ngIf="!editForm.get('shippedById').value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('shippedById').invalid && (editForm.get('shippedById').dirty || editForm.get('shippedById').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('shippedById').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
