<div>
    <h2 id="page-heading">
        <span jhiTranslate="bpfJfs2019App.shipment.home.title">Shipments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shipment" [routerLink]="['/shipment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bpfJfs2019App.shipment.home.createLabel">
            Create new Shipment
            </span>
        </button>
    </h2>
    <bpf-alert></bpf-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="shipments?.length === 0">
        <span jhiTranslate="bpfJfs2019App.shipment.home.notFound">No shipments found</span>
    </div>
    <div class="table-responsive" *ngIf="shipments?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bpfJfs2019App.shipment.shippedAt">Shipped At</span></th>
            <th><span jhiTranslate="bpfJfs2019App.shipment.order">Order</span></th>
            <th><span jhiTranslate="bpfJfs2019App.shipment.shippedBy">Shipped By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shipment of shipments ;trackBy: trackId">
                <td><a [routerLink]="['/shipment', shipment.id, 'view' ]">{{shipment.id}}</a></td>
                <td>{{shipment.shippedAt | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="shipment.orderId">
                        <a [routerLink]="['../shopping-order', shipment.orderId , 'view' ]" >{{shipment.orderName}}</a>
                    </div>
                </td>
                <td>
                    {{shipment.shippedByLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shipment', shipment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shipment', shipment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'shipment', { outlets: { popup: shipment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
