<div>
    <h2 id="page-heading">
        <span jhiTranslate="bpfJfs2019App.productOrder.home.title">Product Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-order" [routerLink]="['/product-order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bpfJfs2019App.productOrder.home.createLabel">
            Create new Product Order
            </span>
        </button>
    </h2>
    <bpf-alert></bpf-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="productOrders?.length === 0">
        <span jhiTranslate="bpfJfs2019App.productOrder.home.notFound">No productOrders found</span>
    </div>
    <div class="table-responsive" *ngIf="productOrders?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bpfJfs2019App.productOrder.amount">Amount</span></th>
            <th><span jhiTranslate="bpfJfs2019App.productOrder.buyer">Buyer</span></th>
            <th><span jhiTranslate="bpfJfs2019App.productOrder.product">Product</span></th>
            <th><span jhiTranslate="bpfJfs2019App.productOrder.overallOrder">Overall Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productOrder of productOrders ;trackBy: trackId">
                <td><a [routerLink]="['/product-order', productOrder.id, 'view' ]">{{productOrder.id}}</a></td>
                <td>{{productOrder.amount}}</td>
                <td>
                    {{productOrder.buyerLogin}}
                </td>
                <td>
                    <div *ngIf="productOrder.productId">
                        <a [routerLink]="['../product', productOrder.productId , 'view' ]" >{{productOrder.productName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productOrder.overallOrderId">
                        <a [routerLink]="['../shopping-order', productOrder.overallOrderId , 'view' ]" >{{productOrder.overallOrderName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/product-order', productOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-order', productOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product-order', { outlets: { popup: productOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
