<div>
    <h2 id="page-heading">
        <span jhiTranslate="bpfJfs2019App.shoppingOrder.home.title">Shopping Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shopping-order" [routerLink]="['/shopping-order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bpfJfs2019App.shoppingOrder.home.createLabel">
            Create new Shopping Order
            </span>
        </button>
    </h2>
    <bpf-alert></bpf-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="shoppingOrders?.length === 0">
        <span jhiTranslate="bpfJfs2019App.shoppingOrder.home.notFound">No shoppingOrders found</span>
    </div>
    <div class="table-responsive" *ngIf="shoppingOrders?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bpfJfs2019App.shoppingOrder.name">Name</span></th>
            <th><span jhiTranslate="bpfJfs2019App.shoppingOrder.totalAmount">Total Amount</span></th>
            <th><span jhiTranslate="bpfJfs2019App.shoppingOrder.ordered">Ordered</span></th>
            <th><span jhiTranslate="bpfJfs2019App.shoppingOrder.buyer">Buyer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shoppingOrder of shoppingOrders ;trackBy: trackId">
                <td><a [routerLink]="['/shopping-order', shoppingOrder.id, 'view' ]">{{shoppingOrder.id}}</a></td>
                <td>{{shoppingOrder.name}}</td>
                <td>{{shoppingOrder.totalAmount}}</td>
                <td>{{shoppingOrder.ordered | date:'mediumDate'}}</td>
                <td>
                    {{shoppingOrder.buyerLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shopping-order', shoppingOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shopping-order', shoppingOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'shopping-order', { outlets: { popup: shoppingOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
