<form name="deleteForm" (ngSubmit)="confirmDelete(shoppingOrder.id)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <bpf-alert-error></bpf-alert-error>
        <p id="bpf-delete-shoppingOrder-heading" jhiTranslate="bpfJfs2019App.shoppingOrder.delete.question" [translateValues]="{id: shoppingOrder.id}">Are you sure you want to delete this Shopping Order?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button id="bpf-confirm-delete-shoppingOrder" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
