<div>
    <h2 id="page-heading">
        <span jhiTranslate="bpfJfs2019App.product.home.title">Products</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product" [routerLink]="['/product/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bpfJfs2019App.product.home.createLabel">
            Create new Product
            </span>
        </button>
    </h2>
    <bpf-alert></bpf-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="products?.length === 0">
        <span jhiTranslate="bpfJfs2019App.product.home.notFound">No products found</span>
    </div>
    <div class="table-responsive" *ngIf="products?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bpfJfs2019App.product.name">Name</span></th>
            <th><span jhiTranslate="bpfJfs2019App.product.price">Price</span></th>
            <th><span jhiTranslate="bpfJfs2019App.product.description">Description</span></th>
            <th><span jhiTranslate="bpfJfs2019App.product.picture">Picture</span></th>
            <th><span jhiTranslate="bpfJfs2019App.product.specification">Specification</span></th>
            <th><span jhiTranslate="bpfJfs2019App.product.category">Category</span></th>
            <th><span jhiTranslate="bpfJfs2019App.product.inventory">Inventory</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products ;trackBy: trackId">
                <td><a [routerLink]="['/product', product.id, 'view' ]">{{product.id}}</a></td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>
                    <a *ngIf="product.picture" (click)="openFile(product.pictureContentType, product.picture)">
                        <img [src]="'data:' + product.pictureContentType + ';base64,' + product.picture" style="max-height: 30px;" alt="product image"/>
                    </a>
                    <span *ngIf="product.picture">{{product.pictureContentType}}, {{byteSize(product.picture)}}</span>
                </td>
                <td>
                    <a *ngIf="product.specification" (click)="openFile(product.specificationContentType, product.specification)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="product.specification">{{product.specificationContentType}}, {{byteSize(product.specification)}}</span>
                </td>
                <td jhiTranslate="{{'bpfJfs2019App.ProductCategory.' + product.category}}">{{product.category}}</td>
                <td>{{product.inventory}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/product', product.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product', product.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'product', { outlets: { popup: product.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
